<div class="main">
    <div class="body">
        <div class="top">
            <div class="name">Имя задачи</div>
            <div class="actions">
                <button matButton>Подробнее</button>
                <button matIconButton aria-label="удалить">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div class="bottom">
            <div class="desc">Описание</div>
            <div class="check">
                <mat-checkbox class="check-box"></mat-checkbox>
            </div>
        </div>
    </div>
</div>